@import 'variable';

.auth-form {
    margin-top: 20px;

    .password-link {
        font-size: 0.85rem;
        text-align: center;
    }

    .register-link {
        width: 80%;
        margin: 20px auto;
        text-align: center;
        a {
            display: block;
            color: #fff;
            padding: 5px;
        }
    }

    .register-btn {
        margin-top: 20px;
    }
}
