@import 'variable';

// プロフィール
.user-profile {
    margin-top: 35px;
    margin-bottom: 80px;
    .my-profile {
        display: flex;
        .my-img {
            margin-right: 40px;
            margin-top: 8px;

            img.user-image {
                width: 200px;
                height: 200px;
            }
        }
        .my-info {
            .my-name {
                font-size: 26px;
                color: $main-color;
                margin: 10px 0;
            }
            .my-txt {
                font-size: 26px;
                color: $main-color;
                margin: 10px 0;
            }
            .txt, .my-status{
                font-size: 13px;
                margin: 17px 0;
            }
            .my-status p {
                margin-bottom: 7px;
            }
        }
    }
    .message-btn-area {
        width: 200px;
        margin-top: 15px;
    }

    .profile-btn-area {
        margin-top: 20px;
        a {
            margin: 10px auto;
        }
    }
}

// 評価一覧
.review-section {
    h2 {
        .title-user-name {
            color: $main-color;
        }
    }
    .return-btn {
        display: flex;
        margin: 20px 0;
        a {
            height: auto;
            line-height: normal;
            padding: 5px 0;
            margin: 0 0 0 auto;
        }
    }
    .reviews {
        .review {
            display: flex;
            position: relative;
            border: 3px solid #CCCC;
            border-radius: 20px;
            margin: 17px 0;
            padding: 10px;

            .face-img {
                width: 48px;
                height: 48px;
                margin: 13px;
            }

            .rate {
                display: flex;
                margin-bottom: 10px;

                label {
                    position: relative;
                    color: #ccc;
                    font-size: 20px;

                    &.active {
                        color: #ffcc00;
                    }
                }
            }

            .user-name {
                font-size: 0.9rem;
                margin-top: 10px;
            }

            .review-at {
                font-size: 0.9rem;
                margin: 10px auto;
            }
        }
    }
}

@media(max-width: 400px) {
    // プロフィール表示
    .user-profile {
        .my-profile {
            display: block;
            .my-img {
                margin: 0 auto;
            }
            .my-info {
                margin: 0 auto;
            }
        }
    }
}
