@import 'variable';

// プロフィール
.user-profile {
    margin-top: 35px;
    margin-bottom: 80px;
    .my-profile {
        display: flex;
        .my-img {
            margin-right: 40px;
            margin-top: 8px;

            img.user-image {
                width: 200px;
                height: 200px;
            }
        }
        .my-info {
            .my-name {
                font-size: 26px;
                color: $main-color;
                margin: 10px 0;
            }
            .my-txt {
                font-size: 26px;
                color: $main-color;
                margin: 10px 0;
            }
            .txt, .my-status{
                font-size: 15px;
                margin: 17px 0;
            }
            .my-status p {
                margin-bottom: 7px;
            }
            .user-label {
              font-size: .7em;
              background: $success-color;
              padding: 5px;
              width: 120px;
              text-align: center;
              border-radius: 15px;
              color: #fff;
              font-weight: bold;
            }
        }
    }
    .message-btn-area {
        width: 200px;
        margin-top: 15px;
    }

    .profile-btn-area {
        margin-top: 20px;
        a {
            margin: 10px auto;
        }

        .admin-links {
            display: flex;
            width: 50%;
            margin: 10px auto;
            flex-direction: column;

            a {
                text-decoration: underline;
                color: $danger-color;
            }
        }
    }
}

// 評価一覧
.review-section {
    h2 {
        .title-user-name {
            color: $main-color;
        }
    }
    .return-btn {
        display: flex;
        margin: 20px 0;
        a {
            height: auto;
            line-height: normal;
            padding: 5px 0;
            margin: 0 0 0 auto;
        }
    }
}

@media(max-width: 480px) {
    // プロフィール表示
    .user-profile {
        .my-profile {
            display: block;
            .my-img {
                margin: 0 auto;
                text-align: center;
            }
            .my-info {
                margin: 0 auto;

                .my-name {
                    text-align: center;
                }
            }
        }

        .message-btn-area {
            width: 100%;
            margin: 15px auto;
        }
    }

    .review-section {
        .return-btn {
            margin: 20px auto;
        }
    }
}
