@import 'variable';

// 提供サービス
.my-service-list {
    margin-top: 80px;

    .my-services {
        margin-top: 43px;

        &.block {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;

            .my-service {
                flex-direction: column;
                margin: 10px;
                cursor: pointer;
                color: #222;

                .img {
                    width: 300px;
                    height: 188px;
                    object-fit: cover;
                    margin: 0 auto;
                }

                .controls {
                    margin-top: auto;

                    .button {
                        border: none;
                        padding: 5px 10px;
                        font-size: 0.9rem;
                        border-radius: 10px;
                        margin: 5px;
                        width: 100%;
                        cursor: pointer;
                        color: #fff;
                        text-align: center;

                        &.edit-btn {
                            background: $success-color;
                            a {
                                color: #fff;
                                display: block;
                            }
                        }
                        &.show-btn {
                            margin-top: 10px;
                            background: $gray-color;
                            a {
                                color: #fff;
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        .my-service {
            display: flex;
            position: relative;
            border: 3px solid #CCCC;
            border-radius: 20px;
            margin: 20px 0;
            padding: 13px 15px;
            color: #222;

            .left-img {
                width: 220px;
                margin-right: 23px;
            }
            .middle-txt {
                .category {
                    font-size: 13px;
                    color: #FA7025;
                    border: 1px solid;
                    border-radius: 20px;
                    display: inline-block;
                    padding: 4px 8px;
                    margin-top: 8px;
                }
                .txt {
                    margin-top: 10px;
                }
                .price {
                    font-size: 13px;
                    margin-top: 7px;
                    display: flex;
                    .customer-info {
                        display: flex;
                        padding-left: 32px;
                        p {
                            padding-top: 10px;
                        }
                        .customer-img {
                            padding: 3px 7px;
                        }
                    }
                    span {
                        color: $main-color;
                        font-size: 22px;
                    }
                }

                .public-status {
                    text-align: right;
                    .public {
                        color: $success-color;
                        font-weight: bold;
                    }
                }
            }
            .controls {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-left: 10px;

                .message-show-btn {
                    background: $sub-color;
                    padding: 10px;
                    border-radius: 10px;
                    color: #fff;
                    font-size: 1rem;
                }
            }
            .right-status {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                padding-right: 26px;
                text-align: center;
                &.public {
                    color: #FA7025;
                }
            }
        }
    }
    .check-shopping-list {
        margin-top: 30px;
        a {
            background: $main-color;
            color: white;
            border-radius: 50px;
            max-width: 320px;
            height: 56px;
            display: block;
            line-height: 56px;
            text-align: center;
            text-decoration: none;
            margin: 0 auto;
        }
    }
}

// サービスフォーム
.add-service-btn {
    position: absolute;
    right: 10px;
    background: $sub-color;
    border-radius: 5px;
    width: 200px;
    margin-right: 14px;
    text-align: center;

    a {
        display: block;
        color: #fff;
        padding: 5px;
    }
}

.service-form {
    width: 80%;
    display: block;

    .form-group {
        width: 100%;
    }

    .form-footer {
        width: 400px;
        margin: 0 auto;
    }
}


// フリーワード検索
.free-word-search {
    margin-bottom: 30px;
    margin-top: 42px;
    .keyword {
        padding-left: 10px;
        border-radius: 5px;
        width: 310px;
        height: 35px;
        line-height: 35px;
        border: 3px solid #cccc;
        font-size: 13px;
        margin: 7px 12px 7px 7px;
    }
    .search-btn {
        padding: 5px 15px;
        color: #fff;
        background: $main-color;
        border-radius: 5px;
        cursor: pointer;
    }
}

// カテゴリから探す
.category-search {
    margin-bottom: 73px;
    ul {
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;
        li {
            font-size: 15px;
            font-weight: bold;
            border: 1px solid;
            border-radius: 20px;
            padding: 5px 13px;
            margin: 10px 12px 7px 0;
            color: $main-color;

            &.active {
                background-color: $main-color;
                a {
                    color: #fff;
                }
            }

            a {
                color: $main-color;
            }
        }
    }
}

// 検索結果表示
.search-result {
    padding-bottom: 18px;
    .result-top {
        display: flex;
        justify-content: space-between;
        position: relative;
        .left {
            span {
                color: $main-color;
                font-size: 30px;
            }
        }
        .right {
            display: flex;
            position: absolute;
            top: 7px;
            right: 20px;

            .sort-select {
                select {
                    cursor: pointer;
                    border: 1px solid #cccc;
                    border-radius: 4px;
                    line-height: 1.5em;
                    padding: 0.5em 1em 0.5em 3.5em;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    background-image:
                        linear-gradient(45deg, transparent 50%, #fff 50%),
                        linear-gradient(135deg, #fff 50%, $main-color 50%),
                        linear-gradient(to right, $main-color, $main-color);
                    background-position:
                        calc(33% - 18px) calc(1em + 2px), calc(33% - 13px) calc(1em + 2px), 0% 0;
                    background-size:
                        5px 5px,
                        5px 5px,
                        2.6em 2.5em;
                    background-repeat: no-repeat;

                    &:focus {
                        outline: 0;
                    }
                }
            }
        }
    }
}

// サービス一覧
.service-list {
    .service-item {
        margin: 20px 0 12px;
        cursor: pointer;
    }
}

// サービス詳細
.service-show {
    display: flex;
    margin-top: 20px;

    .main-content {
        width: 75%;
        margin-right: 20px;

        .flex-area{
            display: flex;
        }

        .service-content {
            width: 60%;
            margin-left: 20px;
        }

        .request-for-purchase {
            margin-top: 30px;
        }
    }

    .side-content {
        width: 25%;
        border: 1px solid #888787;
        border-radius: 20px;
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        padding: 15px;
        text-align: center;
        height: 400px;

        .seller-info {
            display: flex;
            flex-direction: column;

            img {
                margin: 10px auto;
                width: 150px;
                height: 150px;
            }

            .valuation {
                font-size: 1.1rem;

                .star {
                    font-size: 1.2rem;

                    &:before {
                        content:"★";
                        color: #ffcc33;
                    }
                }
            }
        }

        .buy-area {
            margin-top: auto;

            .price {
                font-size: 2.2rem;
                font-weight: bold;
                margin-bottom: 10px;
            }
        }

        .message-btn-area {
            margin-top: 5px;
        }
    }
    img {
        width: 100px;
    }
}

// サービス画像
.service-images {
    width: 40%;

    .main-image {
        text-align: center;

        img {
            width: 100%;
            border-radius: 20px;
            cursor: pointer;
            height: 250px;
            object-fit: cover;
        }
    }
    .sub-images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        img {
            border-radius: 20px;
            cursor: pointer;
            width: 40%;
            margin: 0 5px;
            object-fit: cover;
            height: 150px;
        }
    }
}

// フッター
footer {
    margin-top: 112px;
}

.real-name {
    font-size: .9rem;
    padding: 5px 0 10px 0;
}

// タブレット用　1024px以下
@media(max-width: 1024px) {
    .my-service-list {
        .my-services {
            .my-service {
                cursor: pointer;

                .left-img {
                    width: 100%;
                }
                .right-status {
                    right: 0;
                    bottom: 0;
                    top: unset;
                }
                .middle-txt {
                    .price {
                        display: block;
                        .customer-info {
                            padding-left: 0;
                            padding-top: 5px;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 480px) {
    .add-service-btn {
        position: relative;
        width: 90%;
        margin: 15px auto;
        right: 0;

        a {
            font-size: 1rem;
        }
    }
    .service-form {
        width: 100%;

        .form-footer {
            width: 100%;
        }
    }

    .my-service-list {
        .my-services {
            margin-top: 0;

            &.block {
                width: 100%;
                flex-direction: column;
                .my-service {
                    width: 100%;
                    margin: 10px auto;
                    padding: 15px !important;

                    .controls {
                        margin-top: 10px;

                        .button {
                            &.show-btn {
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
        }
        .my-service {
            flex-direction: column;
            padding: 10px 10px 50px 10px !important;

            .controls {
                margin-left: auto !important;
                margin-right: 10px;

                .button {
                    .show-btn {
                        margin-top: 0;
                    }
                }
            }
        }
    }
    .free-word-search {
        .keyword {
            width: 280px;
            margin-left: 0;
        }
    }

    .service-show {
        flex-direction: column;
        margin-top: 0;

        .main-content,
        .side-content {
            width: 90%;
            margin: 0 auto;

            .flex-area{
                display: block;
            }

            .service-content {
                width: 100%;
                margin: 0;
            }
        }

        .side-content {
            margin-top: 25px;
        }
    }

    .service-images {
        width: 100%;
        margin: 20px auto;

        .sub-images {
            img {
                width: 45%;
            }
        }
    }
}
