@import 'variable';

.review-section {
    .form-group {
        &:nth-last-of-type(2) {
            label {
                padding: 10px 0 0 ;
            }
        }
        .rate-form {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;

            input[type='radio'] {
                display: none;
            }

            label {
                position: relative;
                padding: 0 5px;
                color: #ccc;
                cursor: pointer;
                font-size: 35px;

                &:hover {
                    color: #ffcc00;
                }

                &:hover~label {
                    color: #ffcc00;
                }
            }

            input[type='radio']:checked~label {
                color: #ffcc00;
            }
        }
    }
}
